.idea/
*.py[cod]
.ipynb_checkpoints
fit.pkl
stan/Utility.py
stan/param_recover_diag.py
stan/stan_results
!stan/stan_results/TD0
stan/traj_data
figures
TDlambdaXsteps_stan/logs/
TDlambdaXsteps_stan/traj_data/